html {
  font-size: 14px;
}

h2{
  font-size: 55px;
  font-family: Inspiration;
  text-align: center;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #D2F1F3;
}

/* site.css */

/* General styles */


/* Task list styles */
.main-container {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: #B1BCC2;
  height: calc(100vh - 55px);
  border-radius: 10px;
  border: 5px solid #000000;
}

.main-container .to-dos {
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  float: left;
  margin: 5px;
  background-color: #FFFFFF;
}

.main-container .to-dos .task-list-box {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  justify-content: space-around;
}

.main-container .to-dos .task-list-box .h3-container {
  display: block;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 0 10px 0;
  background-color: #D2F1F3;
  text-align: center;
  margin-bottom: 10px;
  height: 20%;
  border-radius: 10px;
  border: 1px solid #000000;
}

.main-container .to-dos .task-list-box .task-box{
  display: block;
  margin: 10px;
  background-color: #B1BCC2;
  border-radius: 10px;
  max-height: 80%;
  min-height: 560px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.main-container .to-dos .task-list-box .tasks {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #B1BCC2;
}

.main-container .to-dos .task-list-box .tasks .task-due {
  padding: 0;
  float: right;
}

.main-container .to-dos .task-list-box .tasks .description {
  padding: 0;
  float: left;
  margin-bottom: 20px;
  flex: 1;
  text-align: left;

}

.main-container .to-dos .task-list-box .tasks .task-due , .description {
  flex: 1;
}

.main-container .secondary-container {
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  float: right;
  margin: 5px;

}

.main-container .secondary-container .AddTask .h3-container h3{
  display: block;
  margin: 10px;
  background-color: #D2F1F3;
  text-align: center;
  float: top;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  height: 20%;
  border: 1px solid #000000;
}

.main-container .secondary-container .AddTask .form {
  margin: 10px;
  padding: 10px 0 10px 0;
  display: block;
  height: 20%;
  border-radius: 10px;
  background-color: #B1BCC2;
  border-radius: 10px;
  border: 1px solid #000000;
}

.main-container .secondary-container .AddTask {
  margin: 0 5px 5px ;
  height: 50%;
  background-color: #ffffff;
  justify-content: space-around;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.main-container .secondary-container .AddTask .form button {
  float: right;
  margin: 10px;
  border-radius: 80px;
  height: 30px;
  font-size: 0.8em;
  background-color: #28a745; /* Green background */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-container .secondary-container .others{
  float: bottom;
  border-radius: 10px;
  margin: 10px ;
  padding: 10px 0 0 0;
  display: block;
  text-align: center;
  height: 60%;
  background-color: #cf9292;
  border-radius: 10px;
  border: 1px solid #000000;
}



/* Button styles */
button {
  background-color: #28a745; /* Green background */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-form button {
  width: 80px;  /* adjust as needed */
  height: 30px; /* adjust as needed */
  padding: 0;
  font-size: 0.8em; /* adjust as needed */
}

.task-form {
  float: left;
  margin-right: 10px;
}

button:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Form styles */
form {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #a79090;
  border-radius: 4px;
}

label {
  margin-bottom: 5px;
  display: block;
}
